* {
  font-family: Arial;
}

input[type=text]{
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 500px;
  padding: 10px;
}

input[type=checkbox]{
  margin-right: 10px;
}

ul{
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

li{
  list-style-type: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
